<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>21</ApplicationRevision>
    <ApplicationVersion>2.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <PublishUrl>D:\PLC Slideshow Controller Build\installer\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <PublisherName>KURO Systemes LLP</PublisherName>
    <History>True|2025-09-01T10:30:56.9853868Z||;False|2025-09-01T16:00:41.0555442+05:30||;False|2025-09-01T15:59:15.2268615+05:30||;True|2025-09-01T15:20:45.7329349+05:30||;True|2025-09-01T14:22:28.0117076+05:30||;True|2025-08-29T18:51:57.3527808+05:30||;True|2025-08-29T18:40:05.1067497+05:30||;True|2025-08-29T18:23:50.8780474+05:30||;True|2025-08-29T17:57:36.1542710+05:30||;True|2025-08-29T17:53:32.4895722+05:30||;True|2025-08-29T17:45:53.0932878+05:30||;True|2025-08-29T17:35:59.7650791+05:30||;True|2025-08-29T14:09:24.2894146+05:30||;True|2025-08-29T12:33:49.7454556+05:30||;True|2025-08-29T12:23:16.9198891+05:30||;True|2025-08-29T12:02:48.1978951+05:30||;True|2025-08-28T10:59:37.1428416+05:30||;True|2025-08-28T10:50:10.2719981+05:30||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include=".NETFramework,Version=v4.8.1">
      <Install>true</Install>
      <ProductName>Microsoft .NET Framework 4.8.1 (x86 and x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 8.0.19 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>